body {
  background-color: #9ECCCC;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  height: 800px;
  line-height: 50px;
  margin: 0 auto;
  min-width: 550px;
}

.wrapper {
  border: 1px solid black;
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  width: 500px;
}

h1 {
  font-weight: 200;
}

button {
  background-color: black;
  border: none;
  color: white;
  display: inline;
  height: 50px;
  font-size: 1.25em;
  font-weight: 200;
  margin: 0px auto;
  margin-top: 10px;
  padding: 0;
  width: 49.5%;
}

.logo {
  background-color: #9EABB5;
  display: inline-block;
  height: 100px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

#formTitle {
  font-size: 1.5em;
  font-weight: 200;
  text-align: left;
}

form {
  padding: 0;
  margin: 0;
  width: 100%;
}

#formValueID {
  font-size: 1.25em;
  font-weight: 200;
  height: 50px;
  text-align: center;
  width: 55%
}

#submitButton {
  background-color: white;
  border: none;
  display: inline;
  height: 50px;
  font-size: 1.25em;
  font-weight: 200;
  margin: 1em auto;
  padding: 0;
  width: 43%;
}

.grid {
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  width: 500px;
}

ul {
  height: 500px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

li {
  display: block;
  float: left;
  height: 23.75%;
  margin: 2.5px 2px;
  width: 23.75%;
}
