body {
  background-color: #9ECCCC;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  height: 800px;
  line-height: 50px;
  min-width: 550px;
}

.wrapper {
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  width: 500px;
}

header {
  margin: 0 auto;
  width: 500px;
}

h1 {
  font-weight: 200;
}

h2 {
  font-size: 1.25em;
  font-weight: 200;
  margin: 0px 2px;
  padding: 0;
}

.logo {
  background-color: #9EABB5;
  display: inline-block;
  height: 100px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

#formTitle {
  font-size: 1.5em;
  font-weight: 200;
  text-align: left;
}

form {
  padding: 10px;
  margin: 0 auto;
  width: 480px;
}

#formValueID {
  font-size: 1.25em;
  font-weight: 200;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 98%
}

#submitButton {
  background-color: white;
  border: none;
  display: inline-block;
  height: 50px;
  font-size: 1.25em;
  font-weight: 200;
  margin: 10px auto;
  padding: 0;
  width: 49%;
}

button {
  background-color: black;
  border: none;
  color: white;
  display: inline-block;
  height: 50px;
  font-size: 1.25em;
  font-weight: 200;
  margin: 10px auto;
  margin-top: 10px;
  padding: 0;
  width: 49%;
}

.default-grid {
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  width: 500px;
}

ul {
  border: 1px solid black;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

li {
  display: block;
  float: left;
  height: 120px;
  margin: 2.5px 2px;
  width: 24.2%;
}

.saved-grids {
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  width: 1100px;
}

.saved-grids ul {
  display: block;
  height: 350px;
  float: left;
  margin: 10px;
  padding: 0;
  position: relative;
  width: 31%;
}

.saved-grids li {
  display: block;
  height: 70px;
  margin: 2.5px 2px;
  width: 23.79%;
}
